
.col-xs-2.col-sm-2.col-md-2.col-lg-2
    a(ng-href='/user/{{user._id}}/')
        img.img-responsive.img-thumbnail(src='{{user.picture}}')

.col-xs-10.col-sm-10.col-md-10.col-lg-10
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.card-header
        .row
            .col-xs-10.col-sm-10.col-md-10.col-lg-10
                a(ng-href='/user/{{user._id}}/')
                    h3 <strong>{{user.name}}</strong>

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.card-body
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h5 {{user.city}}, {{user.state}}
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h5.oneline {{event.description | limitTo:100}}
