.col-xs-12.col-sm-12.col-md-12.col-lg-12.card-body
    h1(ng-show='isOrganizer()', ng-class='{ "card-headerUnderlay" : isOrganizer() }') ORGANIZER

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            h4
                a(ng-href='/groups/{{group._id}}/') {{group.name}}
            h5(ng-show='group.city && group.state && group.zipcode') {{group.city}}, {{group.state}} {{group.zipcode}}
            h5(ng-show='!group.city || !group.state || !group.zipcode') <i>Location Unknown</i>

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                img.img-thumbnail.interests-thumbnail(ng-src='/images/interests/{{interest}}.png', ng-repeat='interest in group.interests | orderBy:interest', uib-tooltip='{{interest}}')

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.hidden-xs
                .row
                    .col-xs-4.col-sm-12.col-md-12.col-lg-12
                        a(ng-href='/groups/{{group._id}}/')
                            img.img-responsive.img-thumbnail(src='{{group.picture}}')
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        h5 {{group.description | limitTo:10000}}

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.volunteer-row.hidden-xs
        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2
                h4 Current Events

            .col-xs-12.col-sm-9.col-md-10.col-lg-10
                a(ng-href='/groups/{{group._id}}/events/{{event._id}}/', ng-repeat='event in group.events | limitTo:15 | CheckExpired:false', uib-tooltip='{{event.name}}')
                    img.img-rounded.volunteer-thumbnail(src='{{event.picture}}')
