$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'directives/event/event.scss';
@import 'directives/group/group.scss';
@import 'directives/user/user.scss';
@import 'main/main.scss';
@import 'routes/CreateEvent/CreateEvent.scss';
@import 'routes/CreateGroup/CreateGroup.scss';
@import 'routes/Dashboard/Dashboard.scss';
@import 'routes/Home/Home.scss';
@import 'routes/events/events.scss';
@import 'routes/groups/groups.scss';
@import 'routes/users/users.scss';
@import 'modal/modal.scss';
// endinjector

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    //padding-top: 50px; // Remove padding
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    //color: #00B7FF;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.box-one {
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}


.box-one.ng-hide {
  opacity:0;
}

.center-item {
   display:block;
   margin: 0 auto;
}

.cursor-pointer {
   cursor: pointer;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.float-right {
    z-index: 10;
    position: fixed;
    right: 1%;
    top: 80px;
}


/**********************************************************************
    Mouse Cursor CSS START
**********************************************************************/
.cursor-pointer {
   cursor: pointer;
}
