div(ng-include='"components/navbar/navbar.html"')

.container-fluid
    .box-one(ng-show='!isSearching')
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .img-responsive
                    img(src='/images/banner/1.png', alt='Cinque Terre', width='320', height='250')
                    img(src='/images/banner/2.png', alt='Cinque Terre', width='320', height='250')
                    img(src='/images/banner/3.png', alt='Cinque Terre', width='320', height='250')
    
    div(ng-click='stopSearching()')
        |</br> </br>

    .well
        form.form-horizontal
            .form-group
                .col-xs-12.col-sm-10.col-md-11.col-lg-11
                    input.form-control#searchBox(type='text', placeholder='search', ng-model='search.text') 
                .col-xs-12.col-sm-2.col-md-1.col-lg-1
                    .text-right
                        button.btn.btn-default(ng-click='search(search.text)') Search
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .advancedSearchLabel.text-right
                        label(ng-click='toggleAdvancedSearch()') 
                            | Advanced Search

            .well.box-one(ng-show='advancedSearch')
                form.form-inline
                    .form-group
                        .col-xs-12.col-sm-6.col-md-4.col-lg-4
                            form(role='form')
                                .btn-group(data-toggle)
                                      label.btn.active.btn-default(uib-tooltip='Find something to do', ng-model='advbtn', uib-btn-radio="'Events'") Events
                                      label.btn.btn-default(uib-tooltip='Find your friends', uib-tooltip-append-to-body='true', ng-model='advbtn', uib-btn-radio="'People'") People
                                      label.btn.btn-default(uib-tooltip='Find a cause', uib-tooltip-append-to-body='true', ng-model='advbtn', uib-btn-radio="'Groups'") Groups
                        .col-xs-12.col-sm-6.col-md-4.col-lg-4
                            .visible-xs
                            br
                            br
                            form(role='form')
                              .btn-group
                                img.img-thumbnail(ng-src='/images/interests/animals.png',  width='35', height='35', uib-tooltip='Animal',style='{{animalButton}}',ng-click='addAnimal()')
                                img.img-thumbnail(ng-src='/images/interests/education.png',  width='35', height='35', uib-tooltip='Education' ,style='{{educationButton}}',ng-click='addEducation()')
                                img.img-thumbnail(ng-src='/images/interests/environment.png',  width='35', height='35', uib-tooltip='Environment',style='{{environmentButton}}',ng-click='addEnvironment()')
                                img.img-thumbnail(ng-src='/images/interests/people.png',  width='35', height='35', uib-tooltip='People',style='{{peopleButton}}',ng-click='addPeople()')
                                img.img-thumbnail(ng-src='/images/interests/recreation.png',  width='35', height='35', uib-tooltip='Recreation',style='{{recreationButton}}',ng-click='addRecreation()')
                                img.img-thumbnail(ng-src='/images/interests/technology.png',  width='35', height='35', uib-tooltip='Technology',style='{{technologyButton}}',ng-click='addTechnology()')
                                img.img-thumbnail(ng-src='/images/interests/youth.png',  width='35', height='35', uib-tooltip='Youth',style='{{youthButton}}',ng-click='addYouth()')
                          
                          





    .panel-group 
        .col-xs-12.col-sm-12.col-md-6.col-lg-6(ng-repeat='event in events | orderBy:"startTimeDate"', ng-show='getSearchType("Events")')              
            .panel.panel-default
                .panel-heading
                    h3 <strong>{{event.startTimeDate | date:'MMM d'}}</strong> 
                    h5 {{event.startTimeDate | date:'EEEE h:m a'}}
                .panel-body
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            h4
                                a(ng-href='/events/{{event._id}}/') {{event.name}}
                                h5 {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}} 
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                        img(ng-src='/images/interests/{{interest}}.png',  width='25', height='25', ng-repeat='interest in event.interests', uib-tooltip='{{interest}}')
                            .col-xs-12.col-sm-3.col-md-5.col-lg-4
                                .row
                                    .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                        a(ng-href='/events/{{event._id}}/')
                                            img(src='/images/event/{{event.picture}}.jpg', width='150', height='150')
                            .col-xs-12.col-sm-9.col-md-7.col-lg-8
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h5 {{event.description | limitTo:350}}
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                            | &nbsp
                                            button.btn.btn-primary Volunteer Now

    .panel-group 
        .col-xs-12.col-sm-12.col-md-6.col-lg-6(ng-repeat='event in events | orderBy:"startTimeDate"', ng-show='getSearchType("Groups")')              
            .panel.panel-default
                .panel-heading
                    h3 <strong>{{event.startTimeDate | date:'MMM d'}}</strong> 
                    h5 {{event.startTimeDate | date:'EEEE h:m a'}}
                .panel-body
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            h4
                                a(ng-href='/events/{{event._id}}/') {{event.name}}
                                h5 {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}} 
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                        img(ng-src='/images/interests/{{interest}}.png',  width='25', height='25', ng-repeat='interest in event.Interests', uib-tooltip='{{interest}}')
                            .col-xs-12.col-sm-3.col-md-5.col-lg-4
                                .row
                                    .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                        a(ng-href='/events/{{event._id}}/')
                                            img(src='/images/event/{{event.picture}}.jpg', width='150', height='150')
                            .col-xs-12.col-sm-9.col-md-7.col-lg-8
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h5 {{event.description | limitTo:350}}
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                            | &nbsp
                                            button.btn.btn-primary Volunteer Now
                                            
    .panel-group 
        .col-xs-12.col-sm-12.col-md-6.col-lg-6(ng-repeat='event in events | orderBy:"startTimeDate"', ng-show='getSearchType("People")')              
            .panel.panel-default
                .panel-heading
                    h3 <strong>{{event.name | date:'MMM d'}}</strong> 
                    h5 test
                .panel-body
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            h4
                                a(ng-href='/events/{{event._id}}/') {{event.name}}
                                h5 {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}} 
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                                        img(ng-src='/images/interests/{{interest}}.png',  width='25', height='25', ng-repeat='interest in event.Interests', uib-tooltip='{{interest}}')
                            .col-xs-12.col-sm-3.col-md-5.col-lg-4
                                .row
                                    .col-xs-4.col-sm-12.col-md-12.col-lg-12
                                        a(ng-href='/events/{{event._id}}/')
                                            img(src='/images/event/{{event.picture}}.jpg', width='150', height='150')
                            .col-xs-12.col-sm-9.col-md-7.col-lg-8
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h5 {{event.description | limitTo:350}}
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                                            | &nbsp
                                            button.btn.btn-primary Volunteer Now                                            
                 
