div(ng-include='"components/navbar/navbar.html"')

.container
    .box-one(ng-show='!isSearching')
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .img-responsive
                    img(src='/images/banner/1.png', alt='Cinque Terre', width='320', height='250')
                    img(src='/images/banner/2.png', alt='Cinque Terre', width='320', height='250')
                    img(src='/images/banner/3.png', alt='Cinque Terre', width='320', height='250')

    div(ng-click='stopSearching()')
        |</br> </br>

    .well
        form.form-horizontal
            .form-group
                .col-xs-12.col-sm-10.col-md-11.col-lg-11
                    input.form-control#searchBox(type='text', placeholder='search', ng-model='search.text')
                .col-xs-12.col-sm-2.col-md-1.col-lg-1
                    .text-right
                        button.btn.btn-default(ng-click='search(search.text)') Search
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .advancedSearchLabel.text-right
                        label(ng-click='toggleAdvancedSearch()')
                            | Advanced Search

            .well.box-one(ng-show='advancedSearch')
                form.form-inline
                    .form-group
                        .col-xs-12.col-sm-6.col-md-4.col-lg-4
                            form(role='form')
                                .btn-group(data-toggle)
                                      label.btn.active.btn-default(uib-tooltip='Find something to do', ng-model='advbtn', uib-btn-radio="'Events'") Events
                                      label.btn.btn-default(uib-tooltip='Find your friends', ng-model='advbtn', uib-btn-radio="'People'") People
                                      label.btn.btn-default(uib-tooltip='Find a cause', ng-model='advbtn', uib-btn-radio="'Groups'") Groups
                        .col-xs-12.col-sm-6.col-md-4.col-lg-4
                            .visible-xs
                            br
                            br
                            form(role='form')
                              .btn-group
                                img.img-thumbnail(ng-src='/images/interests/animals.png',  width='35', height='35', uib-tooltip='Animal',style='{{animalButton}}',ng-click='addAnimal()')
                                img.img-thumbnail(ng-src='/images/interests/education.png',  width='35', height='35', uib-tooltip='Education' ,style='{{educationButton}}',ng-click='addEducation()')
                                img.img-thumbnail(ng-src='/images/interests/environment.png',  width='35', height='35', uib-tooltip='Environment',style='{{environmentButton}}',ng-click='addEnvironment()')
                                img.img-thumbnail(ng-src='/images/interests/people.png',  width='35', height='35', uib-tooltip='People',style='{{peopleButton}}',ng-click='addPeople()')
                                img.img-thumbnail(ng-src='/images/interests/recreation.png',  width='35', height='35', uib-tooltip='Recreation',style='{{recreationButton}}',ng-click='addRecreation()')
                                img.img-thumbnail(ng-src='/images/interests/technology.png',  width='35', height='35', uib-tooltip='Technology',style='{{technologyButton}}',ng-click='addTechnology()')
                                img.img-thumbnail(ng-src='/images/interests/youth.png',  width='35', height='35', uib-tooltip='Youth',style='{{youthButton}}',ng-click='addYouth()')







    .panel-group(ng-show='getSearchType("Events")')
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.cardRow(ng-repeat='event in events | orderBy:"startTimeDate" | CheckExpired:false')
            group-event-card(event='event')

    .panel-group(ng-show='getSearchType("Groups")')
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.cardRow(ng-repeat='group in groups')
            group-card(group='group')

    .panel-group(ng-show='getSearchType("People")')
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.cardRow(ng-repeat='user in users')
            user-card
