div(ng-include='"components/navbar/navbar.html"')

.admin-padding(ng-show='isAdmin')

div(ng-show='isAdmin')
    div(ng-show='!isEditing && !isRemoving')
        .float-right
            button.btn.btn-default(ng-show='!isEditing', ng-disabled='isCurrentlyActive()', ng-click='enableEdit()') Edit Event
    div(ng-show='isEditing')
        .float-right
            button.btn.btn-danger(ng-show='isEditing && !isRemoving', ng-click='confirmRemove()', ng-disabled='isUpdating') Remove Event
            button.btn.btn-danger(ng-show='isRemoving', ng-click='removeEvent()', ng-disabled='isUpdating') Yes
            | &nbsp
            button.btn.btn-warning(ng-show='isRemoving', ng-click='cancelRemove()', ng-disabled='isUpdating') No
            | &nbsp |
            | &nbsp
            button.btn.btn-info(ng-show='isEditing', ng-click='submitEdit()', ng-disabled='isUpdating || isCurrentlyActive()') Save
            | &nbsp
            button.btn.btn-warning(ng-show='isEditing', ng-click='cancelEdit()', ng-disabled='isUpdating') Cancel
    div(ng-show='isRemoving')
        .float-right


.float-btm.text-center
    uib-alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)', dismiss-on-timeout='5000') {{alert.msg}}

.loading-overlay(ng-show='isUpdating')

div(ng-show='isEditing')
    form(name='eventForm', novalidate)
        .container
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .row
                    .col-xs-12.col-sm-12.col-md-7.col-lg-8
                            .form-group(ng-class='{ "has-error" : eventForm.eventName.$invalid && submitted }')
                                label(for='eventName') Event Name*
                                input.form-control#eventName(type='text', name='eventName', ng-model='event.name', ng-minlength='3', required)
                                div(ng-messages='eventForm.eventName.$error', ng-show='submitted')
                                    div.help-block(ng-message='required') Event name is required.
                                    div.help-block(ng-message='minlength') Event name is too short!
                    .col-xs-12.col-sm-12.col-md-5.col-lg-4
                        label(for='interests') Interests
                        .navbar-btn
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/animals.png', ng-class='animalsSelected', ng-click='addInterest("Animals")', uib-tooltip='Animals')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/education.png', ng-class='educationSelected', ng-click='addInterest("Education")', uib-tooltip='Education')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/environment.png', ng-class='environmentSelected', ng-click='addInterest("Environment")', uib-tooltip='Environment')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/people.png', ng-class='peopleSelected', ng-click='addInterest("People")', uib-tooltip='People')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/recreation.png', ng-class='recreationSelected', ng-click='addInterest("Recreation")', uib-tooltip='Recreation')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/technology.png', ng-class='technologySelected', ng-click='addInterest("Technology")', uib-tooltip='Technology')
                            img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/youth.png', ng-class='youthSelected', ng-click='addInterest("Youth")', uib-tooltip='Youth')
                hr

                .row
                    .col-xs-12.col-sm-6.col-md-4.col-lg-4.text-center
                        .form-group(ng-class='{ "has-error" : eventForm.startTimeDate.$invalid && submitted }')
                            label(for='startTimeDate') Start Time*
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .dropdown
                                        a#startTimeDate.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                                            .btn-group
                                                button#split-button.btn.btn-success(type='button', name='startTimeDate', data-ng-model='event.startTimeDate') {{event.startTimeDate | date:'MM-dd-yyyy hh:mm a'}}
                                                button.btn.btn-success(type='button')
                                                    span.glyphicon.glyphicon-calendar
                                        ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                            datetimepicker(data-ng-model='event.startTimeDate', data-datetimepicker-config="{ dropdownSelector: '#startTimeDate' }")
                                    div.help-block(ng-show='eventForm.startTimeDate.$invalid && submitted')
                                        | Start time cannot start before today.

                    .col-xs-12.col-sm-6.col-md-4.col-lg-4.text-center
                        .form-group(ng-class='{ "has-error" : eventForm.endTimeDate.$invalid && submitted }')
                            label(for='endTimeDate') End Time*
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .dropdown
                                        a#endTimeDate.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                                            .btn-group
                                                button#split-button.btn.btn-danger(type='button', name='endTimeDate', data-ng-model='event.endTimeDate') {{event.endTimeDate | date:'MM-dd-yyyy hh:mm a'}}
                                                button.btn.btn-danger(type='button')
                                                    span.glyphicon.glyphicon-calendar
                                        ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                                            datetimepicker(data-ng-model='event.endTimeDate', data-datetimepicker-config="{ dropdownSelector: '#endTimeDate' }")
                                    div.help-block(ng-show='eventForm.endTimeDate.$invalid && submitted')
                                        | End time cannot end before the start time.

                    .col-xs-12.col-sm-12.col-md-4.col-lg-4.text-center
                        .form-group(ng-class='{ "has-error" : eventForm.maxVolunteers.$invalid && submitted }')
                            label(for='maxVolunteers') Number of Volunteers*
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .btn-group(role='group')
                                        button.btn.btn-default(type='button', ng-disabled='event.maxVolunteers <= 1', ng-click='event.maxVolunteers = event.maxVolunteers - 1', aria-label='Decrease Volunteers')
                                            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                        input.btn.btn-default(type='number', name='maxVolunteers', data-ng-model='event.maxVolunteers', required)
                                        button.btn.btn-default(type='button', ng-click='event.maxVolunteers = event.maxVolunteers + 1', aria-label='Increase Volunteers')
                                            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                    div(ng-messages='eventForm.maxVolunteers.$error', ng-show='submitted')
                                        div.help-block(ng-message='required') Volunteer(s) are required.


                hr


            .col-xs-12.col-sm-4.col-md-4.col-lg-4
                label(for='pic') Picture
                img.img-responsive.img-thumbnail.center-item(ng-show='eventForm.pic.$invalid || picFile == null', ng-src='{{event.picture}}')
                img.img-responsive.img-thumbnail.center-item(ng-show='eventForm.pic.$valid', ngf-src='picFile')
                hr
                .form-group(ng-class='{ "has-error" : eventForm.pic.$invalid }')
                    input.btn.center-item#pic(type='file', ngf-select='', ng-model='picFile', name='pic', accept='image/*', ngf-max-size='2MB')
                    button.btn.btn-default.center-item(ng-show='picFile', ng-click='picFile = null') Remove
                    div(ng-messages='eventForm.pic.$error', ng-show='eventForm.pic.$error')
                        div.help-block(ng-message='file') Picture file error
                        div.help-block(ng-message='maxSize') Picture file too big (Max 2MB)
                hr

            .col-xs-12.col-sm-8.col-md-8.col-lg-8
                .form-group(ng-class='{ "has-error" : eventForm.description.$invalid && submitted }')
                    label(for='description') Description*
                    textarea.form-control#description(rows='10', name='description', ng-model='event.description', minlength='10', required)
                    div(ng-messages='eventForm.description.$error', ng-show='submitted')
                        div.help-block(ng-message='required') A description is required.
                        div.help-block(ng-message='minlength') Description is too short!

                    hr
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .form-group(ng-class='{ "has-error" : eventForm.address.$invalid && submitted }')
                                label(for='street') Street*
                                input.form-control#street(type='text', name='address', ng-model='event.street', required)
                                div(ng-messages='eventForm.address.$error', ng-show='submitted')
                                    div.help-block(ng-message='required') Street Address is required.
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            .form-group(ng-class='{ "has-error" : eventForm.city.$invalid && submitted }')
                                label(for='city') City*
                                input.form-control#city(type='text', name='city', ng-model='event.city', required)
                                div(ng-messages='eventForm.city.$error', ng-show='submitted')
                                    div.help-block(ng-message='required') City is required.
                        .col-xs-5.col-sm-3.col-md-2.col-lg-2
                            .form-group(ng-class='{ "has-error" : eventForm.state.$invalid && submitted }')
                                label(for='state') State*
                                select.form-control#state(type='text', name='state', ng-model='event.state', required)
                                    option(value='') Select
                                    option(value='AL') AL
                                    option(value='AK') AK
                                    option(value='AZ') AZ
                                    option(value='AR') AR
                                    option(value='CA') CA
                                    option(value='CO') CO
                                    option(value='CT') CT
                                    option(value='DE') DE
                                    option(value='DC') DC
                                    option(value='FL') FL
                                    option(value='GA') GA
                                    option(value='HI') HI
                                    option(value='ID') ID
                                    option(value='IL') IL
                                    option(value='IN') IN
                                    option(value='IA') IA
                                    option(value='KS') KS
                                    option(value='KY') KY
                                    option(value='LA') LA
                                    option(value='ME') ME
                                    option(value='MD') MD
                                    option(value='MA') MA
                                    option(value='MI') MI
                                    option(value='MN') MN
                                    option(value='MS') MS
                                    option(value='MO') MO
                                    option(value='MT') MT
                                    option(value='NE') NE
                                    option(value='NV') NV
                                    option(value='NH') NH
                                    option(value='NJ') NJ
                                    option(value='NM') NM
                                    option(value='NY') NY
                                    option(value='NC') NC
                                    option(value='ND') ND
                                    option(value='OH') OH
                                    option(value='OK') OK
                                    option(value='OR') OR
                                    option(value='PA') PA
                                    option(value='RI') RI
                                    option(value='SC') SC
                                    option(value='SD') SD
                                    option(value='TN') TN
                                    option(value='TX') TX
                                    option(value='UT') UT
                                    option(value='VT') VT
                                    option(value='VA') VA
                                    option(value='WA') WA
                                    option(value='WV') WV
                                    option(value='WI') WI
                                    option(value='WY') WY
                                div(ng-messages='eventForm.state.$error', ng-show='submitted')
                                    div.help-block(ng-message='required') State is required.
                        .col-xs-7.col-sm-3.col-md-4.col-lg-4
                            .form-group(ng-class='{ "has-error" : eventForm.zip.$invalid && submitted }')
                                label(for='zipcode') Zipcode*
                                input.form-control#zipcode(type='text', name='zip', ng-model='event.zipcode', pattern='\\d{5}', required)
                                div(ng-messages='eventForm.zip.$error', ng-show='submitted')
                                    div.help-block(ng-message='required') Zip code is required.
                                    div.help-block(ng-message='pattern') Invalid zip code.

div(ng-show='!isEditing')
    .container
        .col-xs-12.col-sm-4.col-md-4.col-lg-4
            .row
                .col-xs-6.col-sm-12.col-md-12.col-lg-12
                    a(ng-href='/groups/{{event.group._id}}')
                        span.glyphicon.glyphicon-chevron-left
                        | &nbsp
                        | {{event.group.name}}
                    hr
                    a(ng-href='/groups/{{event.group._id}}')
                        img.img-responsive.img-thumbnail.center-item(src='{{event.picture}}')

                .col-xs-6.col-sm-12.col-md-12.col-lg-12.text-center
                    .row
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            h3.text-center Organizers
                            hr
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-repeat='organizer in event.organizers')
                                .col-xs-6.col-sm-6.col-md-4.col-lg-4
                                    a(href='/users/{{organizer._id}}')
                                        img.img-responsive.img-rounded(src='{{organizer.picture}}')
                                .col-xs-6.col-sm-6.col-md-8.col-lg-8
                                    a(href='/users/{{organizer._id}}')
                                        h6 {{organizer.name}}
                                    button.btn.btn-default.btn-xs(ng-click='contact(organizer)') Contact
                hr

        .col-xs-12.col-sm-8.col-md-8.col-lg-8
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    h2 <strong> {{event.name}} </strong>

                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.card-header
                        h1(ng-show='isOrganizer()', ng-class='{ "card-headerUnderlay" : isOrganizer() }') ORGANIZER

                        h3 {{event.startTimeDate | date:'MMM d, yyyy'}}

                        h5.timeRow {{event.startTimeDate | date:'EEEE h:mm a'}}
                            .duration for {{event.duration}}

                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.card-body
                        h5
                            span.glyphicon.glyphicon-globe
                            | &nbsp
                            a(ng-href='https://www.google.com/maps/place/{{event.street}},{{event.city}},{{event.state}}+{{event.zipcode}}', target='_blank')
                                | {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}}

                        h1(ng-show='isCurrentlyActive()', ng-class='{ "card-bodyUnderlay" : isCurrentlyActive() }') Currently Active
                        h1(ng-show='isEnded()', ng-class='{ "card-bodyUnderlay" : isEnded() }') Ended

                        .navbar-btn
                            img.img-thumbnail.interests-thumbnail(ng-src='images/interests/{{interest}}.png', ng-repeat='interest in event.interests | orderBy:interest', uib-tooltip='{{interest}}')
                            hr
                            h5 {{event.description | limitTo:10000}}

                        .col-xs-12.col-sm-12.col-md-12.col-lg-12.volunteer-row
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    h4.text-center {{event.volunteers.length}} / {{event.maxVolunteers}}
                                        | &nbsp
                                        button.btn(ng-show='isVolunteering()', ng-click='optOut()', ng-disabled='isCurrentlyActive() || isOrganizer() || !isLoaded || isEnded() || isBusy') Opt out
                                        button.btn(ng-show='!isVolunteering()', ng-click='volunteer()', ng-disabled='isCurrentlyActive() || isOrganizer() || !isLoaded || isEnded() || isBusy') Volunteer
                                    hr
                                .hidden-xs
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        a(ng-href='/users/{{volunteer._id}}', ng-repeat='volunteer in event.volunteers | limitTo:15')
                                            img.img-rounded.volunteer-thumbnail(src='{{volunteer.picture}}')
