
.events-pane {
    margin-top: 5px;
    margin-bottom: 5px;
}

.event-description {
    padding-right: 25px;
}

.volunteer-thumbnail {
    width: 48px;
    height: 48px;
}

.subscriber-thumbnail {
    width: 54px;
    height: 54px;
    margin-right: 2px;
}

.interests-thumbnail {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 768px) {
    .interests-thumbnail {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .subscriber-thumbnail {
        width: 48px;
        height: 48px;
        margin-right: 2px;
    }
}

.date-row {
    border-left: solid thick #ff0000;
}

.duration {
    display: inline;
    padding-left: 1%;
    font-style: italic;
    color: #00cc00;
}
