

/**********************************************************************
    DASHBOARD CSS START
**********************************************************************/
.titleBar {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid #cccccc;
}

.selectedTab {
	color: black;
	font-weight: bold;
    font-size: 1.8em;
    padding-bottom: 5px;
}

.otherTab {
    font-size: 1em;
    margin-left: 2%;
    padding-left: 5px;
    border-left: solid #000000;
}

.volunteerRow {
	margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid thin ;
}

.carousel-control {
  width:5%;
}

.organizersRow {
    background-color: #eeeeee;
}

