div(ng-include='"components/navbar/navbar.html"')

.float-btm.text-center
    uib-alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)', dismiss-on-timeout='5000') {{alert.msg}}

.container
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            img.img-responsive.img-thumbnail.center-item(src="{{user.picture}}")
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center.info-row
            a(href='/users/{{user._id}}')
                h5 {{user.name}}
            | Member since: {{user.creationDate | date:'MMM dd, yyyy'}}
            hr
            a(href='/create/group')
                button.btn.btn-default.center-item
                    h4 Create Group


        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .visible-xs
                hr
            .panel-default.cursor-pointer
                .panel-heading(role='button', data-toggle='collapse', data-target='#groups', aria-expanded='true', aria-controls='groups')
                    h4.panel-title
                        a Organizer of <strong>{{user.groups.organizerOf.length}} Groups</strong>
                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                .panel-collapse.collapse.in#groups
                    .panel-body
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .col-xs-4.col-sm-12.col-md-6.col-lg-4(ng-repeat='group in user.groups.organizerOf')
                                    a(href='/groups/{{group._id}}')
                                        img.img-responsive.img-thumbnail(src='{{group.picture}}', uib-tooltip='{{group.name}}')
            .panel-default.cursor-pointer
                .panel-heading(role='button', data-toggle='collapse', data-target='#subscribers', aria-expanded='true', aria-controls='subscribers')
                    h4.panel-title
                        a Subscribed to <strong>{{user.groups.volunteeredTo.length}} Groups</strong>
                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                .panel-collapse.collapse#subscribers
                    .panel-body
                        .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .col-xs-4.col-sm-12.col-md-6.col-lg-4(ng-repeat='group in user.groups.volunteeredTo')
                                    a(href='/groups/{{group._id}}')
                                        img.img-responsive.img-thumbnail(src='{{group.picture}}', uib-tooltip='{{group.name}}')
            .visible-xs
                hr

    .col-xs-12.col-sm-8.col-md-8.col-lg-8.panel-info#tabs
        .panel-heading
            .selected-tab
                | {{selectedTab}}
            button.btn.btn-xs.btn-default.cursor-pointer.other-tab(ng-repeat='tab in otherTabs', ng-click='setCurrentTab(otherTabs[$index])') {{otherTabs[$index]}}

    .col-xs-12.col-sm-8.col-md-8.col-lg-8
        .panel-body.card-row(ng-show='getCurrentTab("Upcoming Events")')
            .row.card-row(ng-repeat='event in upcomingEvents | orderBy:"startTimeDate" | CheckExpired:false')
                group-event-card(event='event')

        .panel-body.card-row(ng-show='getCurrentTab("Past Events")')
            .row.card-row(ng-repeat='event in upcomingEvents | orderBy:"-startTimeDate" | CheckExpired:true')
                past-group-event-card(event='event')

        .panel-body.card-row(ng-show='getCurrentTab("Recommended Events")')
            .row.card-row(ng-repeat='event in user.recommendedEvents | orderBy:"startTimeDate"')
                group-event-card(event='event')
