div(ng-include='"components/navbar/navbar.html"')

.adminPadding

div
    div
        .float-right.fixed
            button.btn.btn-warning(ng-show='!getIsPreviewing()', ng-click='enablePreview()', ng-disabled='isCreating') Preview
            button.btn.btn-warning(ng-show='getIsPreviewing()', ng-click='cancelPreview()', ng-disabled='isCreating') Cancel Preview
            | &nbsp
            button.btn.btn-info(type='submit', ng-click='createGroup()', ng-disabled='isCreating') Create
            | &nbsp
            a(href='/dashboard')
                button.btn.btn-danger(ng-click='cancelCreateGroup()', ng-disabled='isCreating') Cancel
.float-btm.text-center
    uib-alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)', dismiss-on-timeout='5000') {{alert.msg}}

.loadingOverlay(ng-show='isCreating')

div(ng-show='!getIsPreviewing()')
    form(name='groupForm', novalidate)
        .container
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .row
                        .col-xs-12.col-sm-12.col-md-8.col-lg-8
                                .form-group(ng-class='{ "has-error" : groupForm.groupName.$invalid && submitted }')
                                    label(for='groupName') Group Name*
                                    input.form-control#groupName(type='text', name='groupName', ng-model='group.name', ng-minlength='3', required)
                                    div(ng-messages='groupForm.groupName.$error', ng-show='submitted')
                                        div.help-block(ng-message='required') Group name is required.
                                        div.help-block(ng-message='minlength') Group name is too short!
                        .col-xs-12.col-sm-12.col-md-4.col-lg-4
                            label(for='interests') Interests
                            .navbar-btn
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/animals.png', ng-class='animalsSelected', ng-click='addInterest("Animals")', uib-tooltip='Animals')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/education.png', ng-class='educationSelected', ng-click='addInterest("Education")', uib-tooltip='Education')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/environment.png', ng-class='environmentSelected', ng-click='addInterest("Environment")', uib-tooltip='Environment')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/people.png', ng-class='peopleSelected', ng-click='addInterest("People")', uib-tooltip='People')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/recreation.png', ng-class='recreationSelected', ng-click='addInterest("Recreation")', uib-tooltip='Recreation')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/technology.png', ng-class='technologySelected', ng-click='addInterest("Technology")', uib-tooltip='Technology')
                                img.img-thumbnail.not-selected.cursor-pointer(src='/assets/images/interests/youth.png', ng-class='youthSelected', ng-click='addInterest("Youth")', uib-tooltip='Youth')
                    hr

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    img.img-responsive.img-thumbnail.center-item(src="{{group.picture}}")
                    .form-group
                        input(type='file')
                        | Might have to use external module for file inputs
                    hr

                .col-xs-12.col-sm-8.col-md-8.col-lg-8
                    .form-group(ng-class='{ "has-error" : groupForm.description.$invalid && submitted }')
                        label(for='description') Description*
                        textarea.form-control#description(type='text', name='description', rows='10', ng-model='group.description', minlength='10', required)
                        div(ng-messages='groupForm.description.$error', ng-show='submitted')
                            div.help-block(ng-message='required') A description is required.
                            div.help-block(ng-message='minlength') Description is too short!

                    .form-group(ng-class='{ "has-error" : groupForm.googlePlusURL.$invalid && submitted }')
                        label(for='googlePlus') Google Plus
                        input.form-control#googlePlus(type='url', name='googlePlusURL', ng-model='group.googlePlusURL')
                        div(ng-messages='groupForm.googlePlusURL.$error', ng-show='submitted')
                            div.help-block(ng-message='url') Url invalid. (Remember to add https:// to the beginning)

                    .form-group(ng-class='{ "has-error" : groupForm.facebookURL.$invalid && submitted }')
                        label(for='facebook') Facebook
                        input.form-control#facebook(type='url', name='facebookURL', ng-model='group.facebookURL')
                        div(ng-messages='groupForm.facebookURL.$error', ng-show='submitted')
                            div.help-block(ng-message='url') Url invalid. (Remember to add https:// to the beginning)

                    .form-group(ng-class='{ "has-error" : groupForm.twitterURL.$invalid && submitted }')
                        label(for='twitter') Twitter
                        input.form-control#twitter(type='url', name='twitterURL', ng-model='group.twitterURL')
                        div(ng-messages='groupForm.twitterURL.$error', ng-show='submitted')
                            div.help-block(ng-message='url') Url invalid. (Remember to add https:// to the beginning)

                    .form-group(ng-class='{ "has-error" : groupForm.linkedInURL.$invalid && submitted }')
                        label(for='linkedIn') Linked In
                        input.form-control#linkedIn(type='url', name='linkedInURL', ng-model='group.linkedInURL')
                        div(ng-messages='groupForm.linkedInURL.$error', ng-show='submitted')
                            div.help-block(ng-message='url') Url invalid. (Remember to add https:// to the beginning)

                    .form-group(ng-class='{ "has-error" : groupForm.personalWebsiteURL.$invalid && submitted }')
                        label(for='website') Personal Website
                        input.form-control#website(type='url', name='personalWebsiteURL', ng-model='group.personalWebsiteURL')
                        div(ng-messages='groupForm.personalWebsiteURL.$error', ng-show='submitted')
                            div.help-block(ng-message='url') Url invalid. (Remember to add https:// to the beginning)

                        hr
                        .row
                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                .form-group
                                    label(for='city') City
                                    input.form-control#city(type='text', name='city', ng-model='group.city')
                            .col-xs-5.col-sm-3.col-md-2.col-lg-2
                                .form-group
                                    label(for='state') State
                                    select.form-control#state(type='text', name='state', ng-model='group.state')
                                        option(value='') Select
                                        option(value='AL') AL
                                        option(value='AK') AK
                                        option(value='AZ') AZ
                                        option(value='AR') AR
                                        option(value='CA') CA
                                        option(value='CO') CO
                                        option(value='CT') CT
                                        option(value='DE') DE
                                        option(value='DC') DC
                                        option(value='FL') FL
                                        option(value='GA') GA
                                        option(value='HI') HI
                                        option(value='ID') ID
                                        option(value='IL') IL
                                        option(value='IN') IN
                                        option(value='IA') IA
                                        option(value='KS') KS
                                        option(value='KY') KY
                                        option(value='LA') LA
                                        option(value='ME') ME
                                        option(value='MD') MD
                                        option(value='MA') MA
                                        option(value='MI') MI
                                        option(value='MN') MN
                                        option(value='MS') MS
                                        option(value='MO') MO
                                        option(value='MT') MT
                                        option(value='NE') NE
                                        option(value='NV') NV
                                        option(value='NH') NH
                                        option(value='NJ') NJ
                                        option(value='NM') NM
                                        option(value='NY') NY
                                        option(value='NC') NC
                                        option(value='ND') ND
                                        option(value='OH') OH
                                        option(value='OK') OK
                                        option(value='OR') OR
                                        option(value='PA') PA
                                        option(value='RI') RI
                                        option(value='SC') SC
                                        option(value='SD') SD
                                        option(value='TN') TN
                                        option(value='TX') TX
                                        option(value='UT') UT
                                        option(value='VT') VT
                                        option(value='VA') VA
                                        option(value='WA') WA
                                        option(value='WV') WV
                                        option(value='WI') WI
                                        option(value='WY') WY
                            .col-xs-7.col-sm-3.col-md-4.col-lg-4
                                .form-group(ng-class='{ "has-error" : groupForm.zip.$invalid && submitted }')
                                    label(for='zipcode') Zipcode
                                    input.form-control#zipcode(type='text', name='zip', ng-model='group.zipcode', pattern='\\d{5}')
                                    div(ng-messages='groupForm.zip.$error', ng-show='submitted')
                                        div.help-block(ng-message='pattern') Invalid zip code.



            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                hr
                form.form-horizontal
                    .form-group
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            label Invite Organizers
                        .col-xs-8.col-sm-10.col-md-11.col-lg-11
                            input.form-control#searchBox(type='text', placeholder='Enter a user to invite', ng-model='searchbox')
                        .col-xs-4.col-sm-2.col-md-1.col-lg-1
                            button.btn.btn-default#searchButton(ng-click='searchUsers(searchbox); scrollToResults()') Search

            div(ng-show='getIsSearching()')
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12#searchResults
                        .col-xs-12.col-sm-6.col-md-6.col-lg-6
                            label(for='searchResults') Search Results
                            div(ng-show='!hasResults()')
                                h3 No Users found, try again
                            .row
                                .col-xs-4.col-sm-3.col-md-3.col-lg-2.cursor-pointer(id='add-{{user._id}}', ng-repeat='user in searchResults', ng-click='addOrganizer($index); scrollToRemove(user._id)')
                                    .add
                                        img.img-responsive.img-thumbnail(src='{{user.picture}}', ng-class='user.added', ng-show='hasPicture("searchedUser", $index)')
                                        img.img-responsive.img-thumbnail(src='//placehold.it/350x350', ng-class='user.added', ng-show='!hasPicture("searchedUser", $index)')
                                        .addOverlay
                                            span.glyphicon.glyphicon-plus.glyphicon-lg-center
                                    h6.text-center {{user.firstName}} {{user.lastName}}

                        div(ng-show='hasOrganizersToAdd()')
                            .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                .visible-xs
                                    hr
                                label(for='searchResults') Organizers to be invited
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12#organizersAdded
                                    .row
                                        .col-xs-4.col-sm-3.col-md-3.col-lg-2.cursor-pointer(id='remove-{{user._id}}', ng-repeat='user in organizersToAdd', ng-click='removeOrganizer($index); scrollToAdd(user._id)')
                                            .remove
                                                img.img-responsive.img-thumbnail(src='{{user.picture}}', ng-show='hasPicture("organizerToAdd", $index)')
                                                img.img-responsive.img-thumbnail(src='//placehold.it/350x350', ng-show='!hasPicture("organizerToAdd", $index)')
                                                .removeOverlay
                                                    span.glyphicon.glyphicon-minus.glyphicon-lg-center
                                            h6.text-center {{user.firstName}} {{user.lastName}}

div(ng-show='getIsPreviewing()')
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.panel-primary
                h2.panel-heading {{group.name}}
                .panel-default
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12.panel-heading
                        .row
                            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                div
                                    img.img-thumbnail(ng-src='/images/interests/{{interest}}.png', ng-repeat='interest in group.interests | orderBy:interest', uib-tooltip='{{interest}}')

                            .hidden-xs
                                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                                    div.pull-right
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/googlePlus.png', ng-disabled='!checkIfHas("googlePlus")', ng-click='goTo(group.googlePlusURL)', uib-tooltip='{{group.googlePlusURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/facebook.png', ng-disabled='!checkIfHas("facebook")', ng-click='goTo(group.facebookURL)', uib-tooltip='{{group.facebookURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/twitter.png', ng-disabled='!checkIfHas("twitter")', ng-click='goTo(group.twitterURL)', uib-tooltip='{{group.twitterURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/linkedIn.png', ng-disabled='!checkIfHas("linkedIn")', ng-click='goTo(group.linkedInURL)', uib-tooltip='{{group.linkedInURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/website.png', ng-disabled='!checkIfHas("website")', ng-click='goTo(group.personalWebsiteURL)', uib-tooltip='{{group.personalWebsiteURL}}')
                            .visible-xs
                                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                    div.pull-right
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/googlePlus.png', ng-disabled='!checkIfHas("googlePlus")', ng-click='goTo(group.googlePlusURL)', uib-tooltip='{{group.googlePlusURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/facebook.png', ng-disabled='!checkIfHas("facebook")', ng-click='goTo(group.facebookURL)', uib-tooltip='{{group.facebookURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/twitter.png', ng-disabled='!checkIfHas("twitter")', ng-click='goTo(group.twitterURL)', uib-tooltip='{{group.twitterURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/linkedIn.png', ng-disabled='!checkIfHas("linkedIn")', ng-click='goTo(group.linkedInURL)', uib-tooltip='{{group.linkedInURL}}')
                                        img.btn.btn-sm(ng-src='/assets/images/social-media/website.png', ng-disabled='!checkIfHas("website")', ng-click='goTo(group.personalWebsiteURL)', uib-tooltip='{{group.personalWebsiteURL}}')

                .row
                    .col-xs-12.col-sm-4.col-md-4.col-lg-4
                        .col-xs-6.col-sm-12.col-md-12.col-lg-12
                            img.img-responsive.img-thumbnail.center-item(src='{{group.picture}}')
                        .col-xs-6.col-sm-12.col-md-12.col-lg-12.text-center.infoRow
                            h5 {{group.city}}, {{group.state}}
                            h5 Founded on: {{group.creationDate | date:'MMM dd, yyyy'}}
                            hr
                            button.btn.btn-default.center-item(ng-click='subscribe()')
                                h4 Subscribe


                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            .panel-default.cursor-pointer
                                .panel-heading(role='button', data-toggle='collapse', data-target='#organizers', aria-expanded='true', aria-controls='organizers')
                                    h4.panel-title
                                        a <strong>{{group.organizers.length}} Organizers</strong>
                                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                                .panel-collapse.collapse.in#organizers
                                    .panel-body
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                .col-xs-6.col-sm-12.col-md-12.col-lg-6(ng-repeat='organizer in group.organizers')
                                                    .row
                                                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                            h6.oneline {{organizer.name}}
                                                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                                                img.img-responsive.img-rounded(src='{{organizer.picture}}')
                                                            .col-xs-6.col-sm-6.col-md-6.col-lg-6
                                                                button.btn.btn-default.btn-xs Contact
                            .panel-default.cursor-pointer
                                .panel-heading(role='button', data-toggle='collapse', data-target='#subscribers', aria-expanded='true', aria-controls='subscribers')
                                    h4.panel-title
                                        a <strong>{{group.volunteers.length}} Subscribers</strong>
                                            span.glyphicon.glyphicon-chevron-down.pull-right(aria-hidden='true')
                                .panel-collapse.collapse#subscribers
                                    .panel-body
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                a(ng-href='/users/{{subscriber._id}}/', ng-repeat='subscriber in group.volunteers | limitTo: 100')
                                                    img.img-thumbnail.subscriber-thumbnail.cursor-pointer(src="{{subscriber.picture}}", uib-tooltip='{{subscriber.firstName}} {{subscriber.lastName}}')

                    .col-xs-12.col-sm-8.col-md-8.col-lg-8.panel-success
                        h3.panel-heading About Us
                        p {{group.description}}

                        .panel-info
                            .panel-heading
                                .selectedTab
                                    | {{selectedTab}}
                                button.btn.btn-xs.btn-default.cursor-pointer.otherTab(ng-click='setCurrentTab(otherTabs[0])') {{otherTabs[0]}}
                            .panel-body.cardRow(ng-show='getCurrentTab("Upcoming Events")')
                                .row.cardRow(ng-repeat='event in group.events | orderBy:"startTimeDate" | CheckExpired:false')
                                    event-card

                            .panel-body.cardRow(ng-show='getCurrentTab("Past Events")')
                                .row.cardRow(ng-repeat='event in group.events | orderBy:"-startTimeDate" | CheckExpired:true')
                                    past-event-card
