.card-alert.text-center
    uib-alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)', dismiss-on-timeout='5000') {{alert.msg}}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.card-header
    h1(ng-show='isOrganizer()', ng-class='{ "card-headerUnderlay" : isOrganizer() }') ORGANIZER
    h3 <strong>{{event.startTimeDate | date:'MMM d, yyyy'}}</strong>
    h5.timeRow {{event.startTimeDate | date:'EEEE h:mm a'}}
        .duration for {{event.duration}}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.card-body

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            h4
                a(ng-href='/groups/{{event.group._id}}/events/{{event._id}}/') {{event.name}}
            h5 {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}}

            h1(ng-show='isCurrentlyActive()', ng-class='{ "card-bodyUnderlay" : isCurrentlyActive() }') Currently Active
            h1(ng-show='isEnded(event)', ng-class='{ "card-bodyUnderlay" : isEnded(event) }') Ended

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                img.img-thumbnail.interests-thumbnail(ng-src='/images/interests/{{interest}}.png', ng-repeat='interest in event.interests | orderBy:interest', uib-tooltip='{{interest}}')

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4.hidden-xs
                .row
                    .col-xs-4.col-sm-12.col-md-12.col-lg-12
                        a(ng-href='/groups/{{event.group._id}}/events/{{event._id}}/')
                            img.img-responsive.img-thumbnail(src='{{event.picture}}')
            .col-xs-12.col-sm-8.col-md-8.col-lg-8
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        h5.card-description {{event.description}}

    .col-xs-12.col-sm-12.col-md-12.col-lg-12.volunteer-row
        .row
            .hidden-xs
                .col-xs-12.col-sm-6.col-md-6.col-lg-7.oneline
                    img.img-rounded.volunteer-thumbnail(ng-repeat='volunteer in event.volunteers | limitTo:15', src='{{volunteer.picture}}')
            .col-xs-12.col-sm-6.col-md-6.col-lg-5
                h4.text-right {{event.volunteers.length}} / {{event.maxVolunteers}}
                    | &nbsp
                    button.btn(ng-show='isVolunteering()', ng-click='optOut()', ng-disabled='isOrganizer() || isCurrentlyActive() || !isLoaded || isEnded() || isBusy') Opt out
                    button.btn(ng-show='!isVolunteering()', ng-click='volunteer()', ng-disabled='isOrganizer() || isCurrentlyActive() || !isLoaded || isEnded() || isBusy') Volunteer
