.col-xs-12.col-sm-12.col-md-12.col-lg-12.cardHeader
    h3 <strong>{{event.startTimeDate | date:'MMM d, yyyy'}}</strong>
    h5.timeRow {{event.startTimeDate | date:'EEEE h:mm a'}}
        .duration for {{event.duration}}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.cardBody

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            h5
                a(ng-href='/groups/{{event.group._id}}/') {{event.group.name}}
        h4
            a(ng-href='/groups/{{event.group._id}}/events/{{event._id}}/') {{event.name}}
        h5 {{event.street}} {{event.city}}, {{event.state}} {{event.zipcode}}

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.navbar-btn
                img.img-thumbnail.interests-thumbnail(ng-src='/images/interests/{{interest}}.png', ng-repeat='interest in event.interests | orderBy:interest', uib-tooltip='{{interest}}')

    .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        h5 {{event.description | limitTo:150}} 
