div(ng-include='"components/navbar/navbar.html"')

//HL 2 variables accessiable in the signupController scope user.username & user.password 
// using an object(user) to make it easier to pass the information otherwise you would
// have to pass user and password seperatly
html
  body
    h1 Login
    input.form-control(type='text', ng-model='user.username', placeholder='username')
    br
    input.form-control(type='password', ng-model='user.password', placeholder='password')
    br
    br
    button.btn.btn-default(ng-click='login()') Login

    br 
    br
    button(ng-init="test= 'searchtext'", ng-click='testAuth(test)') test1
    button(ng-click='testAuth2()') test2
    button(ng-click='testAuth3()') test3
    br
    br

    form(name='myForm')
      fieldset
        legend Upload on form submit
        br
        | Photo:
        input.btn.btn-default(type='file', ngf-select='', ng-model='picFile', name='file', accept='image/*', ngf-max-size='2MB')
        img.thumb(ng-show='myForm.file.$valid', ngf-src='picFile')
        br
        button.btn.btn-default(ng-click='picFile = null', ng-show='picFile') Remove
        br
        button.btn.btn-default(ng-disabled='!myForm.$valid', ng-click='upload(picFile)') Submit
        span.progress(ng-show='picFile.progress >= 0')
          div(style='width:{{picFile.progress}}%', ng-bind="picFile.progress + '%'")
        span(ng-show='picFile.result') Upload Successful
